<% layout("./layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <body>
            <br><br>
            <h3>Create a new listing</h3>
            <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data"> <!-- Add 'novalidate' to disable HTML5 validation -->
                
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" id="title" placeholder="Enter title" type="text" class="form-control" required>
                    <div class="invalid-feedback">Title is required.</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" cols="25" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Description is required.</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" id="image" type="file" class="form-control" required>   <!-- Image upload type = file -->
                    <div class="invalid-feedback">Please enter a valid image URL.</div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" id="price" placeholder="1200" type="number" class="form-control" min="1" required>
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" id="location" placeholder="Mumbai, Maharashtra" type="text" class="form-control" required>
                        <div class="invalid-feedback">Location is required.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" id="country" placeholder="India" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country is required.</div>
                </div>

                <button class="btn btn-dark add-btn" type="submit">Add</button>
                <br><br>
            </form>


        </body>
    </div>
</div>
