<%  if(success && success.length) {  %>                 <!-- success should have some letter then only we will make it display -->
    <div class="alert alert-success  alert-dismissible fade show col-6 offset-3" role="alert">      <!-- if length = 0 then dont show any thing -->
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>


<%  if(error && error.length) {  %>                
    <div class="alert alert-danger  alert-dismissible fade show col-6 offset-3" role="alert">      
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

